.light-blue {
	background-color: blue;
}

.red {
	background-color: red;
}

.split {
	width: 90%;
	position: fixed;
	left: 5%;
}

.top {
	height: 24%;
	top: 0;
}

.bottom{
	height: 75%;
	bottom: 0;
}

.debug{
	border-style: solid;
	border-color:gray;
	border-width: medium
	border-color-red;
}

.full-shot{
	width: 40%;
	height: 100%;
}

.body-background{
	background: url("../images/beach.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}